<a href="https://colab.research.google.com/github/YellamatiLakshmi/AD-ASSIGNMENT/blob/main/13_02_2005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
file_path = "/content/Movie.csv"
df = pd.read_csv(file_path)

In [6]:
df[0:5]

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [8]:
len(df.userId.unique())

4081

In [9]:
len(df.movie.unique())

10

In [20]:
df.isnull().sum()

movie
Father of the Bride Part II (1995)    3424
GoldenEye (1995)                      2533
Grumpier Old Men (1995)               3396
Heat (1995)                           2821
Jumanji (1995)                        2926
Sabrina (1995)                        3381
Sudden Death (1995)                   3879
Tom and Huck (1995)                   4003
Toy Story (1995)                      1512
Waiting to Exhale (1995)              3943
dtype: int64